node-red/.flows.json.backup
[{"id":"37eb240e.1b4524","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88df2989.dc5088","type":"server","z":"","name":"Home Assistant"},{"id":"e7786a6f.4e3648","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4b3f892f.5d6f08","type":"api-current-state","z":"37eb240e.1b4524","name":"Vizio Current State","server":"88df2989.dc5088","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.vizio_smartcast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":140,"wires":[["9ebfcba.48206b8"]]},{"id":"9ebfcba.48206b8","type":"switch","z":"37eb240e.1b4524","name":"TV Power Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["ffe31098.52734"],["d819a3e3.10327"]]},{"id":"38ea4473.e4ec4c","type":"server-events","z":"37eb240e.1b4524","name":"Red Room TV","server":"88df2989.dc5088","event_type":"red_room_tv","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":60,"wires":[["8c1c3107.ee486"]]},{"id":"8c1c3107.ee486","type":"switch","z":"37eb240e.1b4524","name":"TV Source","property":"payload.event.message","propertyType":"msg","rules":[{"t":"eq","v":"plex","vt":"str"},{"t":"eq","v":"live_tv","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":60,"wires":[["4b3f892f.5d6f08","9975efdc.316fb"],["4b3f892f.5d6f08","a2881fda.e1f87"]]},{"id":"ffe31098.52734","type":"api-call-service","z":"37eb240e.1b4524","name":"Input2","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.vizio_smartcast","data":"{ \"entity_id\":\"media_player.vizio_smartcast\",\"source\":\"HDMI-2\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":100,"wires":[[]]},{"id":"d819a3e3.10327","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn On TV","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.vizio_smartcast","data":"{ \"entity_id\":\"media_player.vizio_smartcast\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":180,"wires":[["ffe31098.52734"]]},{"id":"9975efdc.316fb","type":"api-call-service","z":"37eb240e.1b4524","name":"START PLEX","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"androidtv","service":"adb_command","entityId":"media_player.android_tv","data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"am start -n com.plexapp.android/com.plexapp.plex.activities.SplashActivity\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":40,"wires":[[]]},{"id":"a2881fda.e1f87","type":"api-call-service","z":"37eb240e.1b4524","name":"START STB EMU","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"androidtv","service":"adb_command","entityId":"media_player.android_tv","data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"am start -n com.mvas.stb.emu.free/com.mvas.stbemu.activities.MainActivity\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":220,"wires":[[]]},{"id":"951c6365.64e4d8","type":"server-events","z":"37eb240e.1b4524","name":"Good Night","server":"88df2989.dc5088","event_type":"good_night","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":400,"wires":[["9a6361f9.d69c48","737f8a4a.494804"]]},{"id":"9a6361f9.d69c48","type":"api-current-state","z":"37eb240e.1b4524","name":"Vizio Current State","server":"88df2989.dc5088","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.vizio_smartcast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":380,"wires":[["25ada85f.7189c"]]},{"id":"25ada85f.7189c","type":"switch","z":"37eb240e.1b4524","name":"TV Power Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":380,"wires":[["c2037f0f.c23228"],[]]},{"id":"dbde0b6a.665808","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn OFF TV","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.vizio_smartcast","data":"{ \"entity_id\":\"media_player.vizio_smartcast\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":400,"wires":[[]]},{"id":"17eb7e35.e5f0fa","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Light 2","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.61770535cc50e36236d8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":440,"wires":[["71ad375.3038948"]]},{"id":"f4a26d47.6dacb8","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Light 3","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":" switch.61770535dc4f2259b779","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":500,"wires":[[]]},{"id":"737f8a4a.494804","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn On Strip","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.c44f33a3c37d_192_168_86_238","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":460,"wires":[["71ad375.3038948"]]},{"id":"9cfe690f.b3c35","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":500,"wires":[["17eb7e35.e5f0fa","f4a26d47.6dacb8"]]},{"id":"71ad375.3038948","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":480,"wires":[["6f586f6a.ca8618"]]},{"id":"6f586f6a.ca8618","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Strip","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.c44f33a3c37d_192_168_86_238","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":480,"wires":[[]]},{"id":"c2037f0f.c23228","type":"api-call-service","z":"37eb240e.1b4524","name":"Notify ATV","server":"88df2989.dc5088","version":1,"debugenabled":true,"service_domain":"notify","service":"red_room","entityId":"","data":"{ \"message\": \"Good Night Scene Activated.\", \"title\": \"STATUS MESSAGE\", \"data\":{     \"fontsize\": \"large\",     \"position\":\"top-left\",     \"duration\":5,     \"transparency\":\"75%\",     \"color\": \"black\",     \"interrupt\": 1     } }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":320,"wires":[["3f92fc54.33ebdc"]]},{"id":"3f92fc54.33ebdc","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":320,"wires":[["b49b7eb6.75a8c8","dbde0b6a.665808"]]},{"id":"b49b7eb6.75a8c8","type":"api-call-service","z":"37eb240e.1b4524","name":"STOP ATV","server":"88df2989.dc5088","version":1,"debugenabled":false,"service_domain":"androidtv","service":"adb_command","entityId":"media_player.android_tv","data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"HOME\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":340,"wires":[[]]}]