node-red/flows.json
[{"id":"37eb240e.1b4524","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9bfd6b67e8c61eae","type":"tab","label":"TTS Tests","disabled":false,"info":"","env":[]},{"id":"88df2989.dc5088","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"e7786a6f.4e3648","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf74a831.9514b","type":"alexa-home-conf","username":"jb4560"},{"id":"4b3f892f.5d6f08","type":"api-current-state","z":"37eb240e.1b4524","name":"Vizio Current State","server":"88df2989.dc5088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":590,"y":140,"wires":[["9ebfcba.48206b8"]]},{"id":"9ebfcba.48206b8","type":"switch","z":"37eb240e.1b4524","name":"TV Power Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["ffe31098.52734"],["d819a3e3.10327"]]},{"id":"38ea4473.e4ec4c","type":"server-events","z":"37eb240e.1b4524","name":"Red Room TV","server":"88df2989.dc5088","version":1,"event_type":"red_room_tv","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":60,"wires":[["8c1c3107.ee486"]]},{"id":"8c1c3107.ee486","type":"switch","z":"37eb240e.1b4524","name":"TV Source","property":"payload.event.message","propertyType":"msg","rules":[{"t":"eq","v":"plex","vt":"str"},{"t":"eq","v":"live_tv","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":60,"wires":[["4b3f892f.5d6f08","9975efdc.316fb"],["4b3f892f.5d6f08","a2881fda.e1f87"]]},{"id":"ffe31098.52734","type":"api-call-service","z":"37eb240e.1b4524","name":"Input2","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"{ \"entity_id\":\"media_player.vizio_smartcast\",\"source\":\"HDMI-2\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1210,"y":100,"wires":[[]]},{"id":"d819a3e3.10327","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn On TV","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":[],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"{ \"entity_id\":\"media_player.vizio_smartcast\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1050,"y":180,"wires":[["ffe31098.52734"]]},{"id":"9975efdc.316fb","type":"api-call-service","z":"37eb240e.1b4524","name":"START PLEX","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"androidtv","service":"adb_command","areaId":[],"deviceId":[],"entityId":["media_player.android_tv"],"data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"am start -n com.plexapp.android/com.plexapp.plex.activities.SplashActivity\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":660,"y":40,"wires":[[]]},{"id":"a2881fda.e1f87","type":"api-call-service","z":"37eb240e.1b4524","name":"START STB EMU","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"androidtv","service":"adb_command","areaId":[],"deviceId":[],"entityId":["media_player.android_tv"],"data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"am start -n com.mvas.stb.emu.free/com.mvas.stbemu.activities.MainActivity\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":610,"y":220,"wires":[[]]},{"id":"951c6365.64e4d8","type":"server-events","z":"37eb240e.1b4524","name":"Good Night","server":"88df2989.dc5088","version":1,"event_type":"good_night","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":400,"wires":[["9cfe690f.b3c35"]]},{"id":"9a6361f9.d69c48","type":"api-current-state","z":"37eb240e.1b4524","name":"Vizio Current State","server":"88df2989.dc5088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.vizio_smartcast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":570,"y":380,"wires":[["25ada85f.7189c"]]},{"id":"25ada85f.7189c","type":"switch","z":"37eb240e.1b4524","name":"TV Power Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":340,"wires":[["c2037f0f.c23228"],[]]},{"id":"dbde0b6a.665808","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn OFF TV","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.vizio_smartcast"],"data":"{ \"entity_id\":\"media_player.vizio_smartcast\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1310,"y":380,"wires":[[]]},{"id":"17eb7e35.e5f0fa","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Light 2","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.red_room_2"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":840,"y":420,"wires":[["71ad375.3038948"]]},{"id":"f4a26d47.6dacb8","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Light 3","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.red_room_3"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":840,"y":480,"wires":[[]]},{"id":"737f8a4a.494804","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn On Strip","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.c44f33a3c37d_192_168_86_238"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":510,"y":520,"wires":[[]]},{"id":"9cfe690f.b3c35","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":320,"y":440,"wires":[["17eb7e35.e5f0fa","f4a26d47.6dacb8","9a6361f9.d69c48"]]},{"id":"71ad375.3038948","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1040,"y":460,"wires":[["6f586f6a.ca8618"]]},{"id":"6f586f6a.ca8618","type":"api-call-service","z":"37eb240e.1b4524","name":"Turn Off Strip","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.c44f33a3c37d_192_168_86_238"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1210,"y":460,"wires":[[]]},{"id":"c2037f0f.c23228","type":"api-call-service","z":"37eb240e.1b4524","name":"Notify ATV","server":"88df2989.dc5088","version":5,"debugenabled":true,"domain":"notify","service":"red_room","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\": \"Good Night Scene Activated.\", \"title\": \"STATUS MESSAGE\", \"data\":{     \"fontsize\": \"max\",     \"position\":\"top-left\",     \"duration\":5,     \"transparency\":\"75%\",     \"color\": \"black\",     \"interrupt\": 1     } }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":950,"y":300,"wires":[["3f92fc54.33ebdc"]]},{"id":"3f92fc54.33ebdc","type":"delay","z":"37eb240e.1b4524","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1140,"y":300,"wires":[["b49b7eb6.75a8c8","dbde0b6a.665808"]]},{"id":"b49b7eb6.75a8c8","type":"api-call-service","z":"37eb240e.1b4524","name":"STOP ATV","server":"88df2989.dc5088","version":5,"debugenabled":false,"domain":"androidtv","service":"adb_command","areaId":[],"deviceId":[],"entityId":["media_player.android_tv"],"data":"{\"entity_id\" :\"media_player.android_tv\", \"command\": \"HOME\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1310,"y":320,"wires":[[]]},{"id":"c70ec5e6.e0c05","type":"alexa-home","z":"37eb240e.1b4524","conf":"cf74a831.9514b","device":"89951","acknoledge":true,"name":"Good Night","topic":"","x":120,"y":480,"wires":[["9cfe690f.b3c35"]]},{"id":"1488f2a3fafe5dcd","type":"server-state-changed","z":"9bfd6b67e8c61eae","name":"Red Motion Detected","server":"88df2989.dc5088","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lv_sensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Detected","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":200,"wires":[[],[]]},{"id":"14a4a1ea59a4aaee","type":"inject","z":"9bfd6b67e8c61eae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"detected","payloadType":"str","x":140,"y":300,"wires":[[]]}]